<div class="page">
  <div class="inline">
    <h1>NIMEKIRI</h1>

    <div *ngIf="articleDataService.isLoading">
      <img src="assets/images/loader.svg" alt="Loading..." class="loader" />
    </div>
    <div class="tableWrapper" *ngIf="!articleDataService.isLoading">
      <table>
        <thead>
          <tr class="trHeader">
            <ng-container *ngFor="let column of columns">
              <th
                (click)="changeSortColumn(column.key)"
                [ngStyle]="{
                  cursor: column.key !== 'phone' ? 'pointer' : 'default'
                }"
              >
                {{ column.title }}
                <ng-container *ngIf="column.key !== 'phone'">
                  <img
                    class="icon"
                    *ngIf="getColumnSortState(column.key) === 'def'"
                    src="assets/images/sort-solid.svg"
                    alt="Default"
                  />
                  <img
                    class="icon"
                    *ngIf="getColumnSortState(column.key) === 'asc'"
                    src="assets/images/sort-down-solid.svg"
                    alt="Ascending"
                  />
                  <img
                    class="icon"
                    *ngIf="getColumnSortState(column.key) === 'desc'"
                    src="assets/images/sort-up-solid.svg"
                    alt="Descending"
                  />
                </ng-container>
              </th>
            </ng-container>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let item of paginateData()">
            <tr [class.toggled]="isRowToggled(item)" (click)="toggleRow(item)">
              <td>{{ item.firstname }}</td>
              <td>{{ item.surname }}</td>
              <td>{{ changeSex(item.sex) }}</td>
              <td>{{ reverseDates(item.personal_code) }}</td>
              <td>{{ item.phone }}</td>
            </tr>
            <tr *ngIf="isRowToggled(item)">
              <td colspan="5" class="rowSection">
                <div class="tab">
                  <div
                    class="sectionImg"
                    [style.background-image]="
                      'url(' + (item?.image.large || '') + ')'
                    "
                  ></div>
                  <div class="rowBody">
                    <div
                      class="parag"
                      *ngFor="
                        let paragraph of parseParagraphs(item.body)
                          | slice : 0 : 2
                      "
                    >
                      <p>
                        {{ paragraph }}
                      </p>
                    </div>
                    <a class="buttonSmall" [routerLink]="['/article', item.id]"
                      >LOE ROHKEM</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <div class="paginator">
        <button
          class="arrowButtons"
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage === 1"
        >
          <img
            class="arrows"
            src="assets/images/chevron-left-solid.svg"
            alt="Left"
          />
          <!-- Previous -->
        </button>
        <ng-container *ngFor="let page of getPageRange()">
          <button
            class="pageButton"
            [class.active]="currentPage === page"
            (click)="changePage(page)"
          >
            {{ page }}
          </button>
        </ng-container>
        <button
          class="arrowButtons"
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage * pageSize >= articleDataService.data.length"
        >
          <img
            class="arrows"
            src="assets/images/chevron-right-solid.svg"
            alt="Right"
          />
          <!-- Next -->
        </button>
      </div>
    </div>
  </div>
</div>
