<div class="page">
  <div *ngIf="dataService.isLoading">
    <img src="assets/images/loader.svg" alt="Loading..." class="loader" />
  </div>
  <div class="inline" *ngIf="!dataService.isLoading">
    <h1>{{ dataService.data?.title }}</h1>
    <p class="intro">{{ dataService.data?.intro }}</p>

    <div class="imageContainer">
      <img
        class="responsiveImage"
        src="{{ dataService.data?.image?.large }}"
        srcset="{{ dataService.data?.image?.small }} 300w,
                    {{ dataService.data?.image?.medium }} 600w,
                    {{ dataService.data?.image?.large }} 1200w"
        alt="{{ dataService.data?.image?.alt }}"
        tabindex="0"
        title="{{ dataService.data?.image?.title }}"
      />
    </div>

    <div *ngFor="let paragraph of dataService.paragraphs">
      <p>{{ paragraph }}</p>
    </div>

    <div class="tags">
      <div class="tag" *ngFor="let tag of dataService.tags">
        <span>{{ tag }}</span>
      </div>
    </div>
  </div>
</div>
