.twnHeader {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  background: white;
  z-index: 999;
  padding: 0.625rem 1.25rem;
}

button.toggleMenu {
  display: block;
  appearance: none;
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  cursor: pointer;
  background: none;
  color: #333;
  padding-block: 1px;
  padding-inline: 6px;
}

.headerLogo {
  height: 100%;
  margin: 0 auto;
}

.menu {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: var(--twn-menuWidth);
  width: 220px;
  height: 100vh;
  z-index: 900;
  overflow: auto;
  padding: 25px;
}

.showMenu {
  width: 220px;
}

@media screen and (max-width: 768px) {
  .twnHeader {
    display: flex;
  }

  .menu {
    display: none;
  }

  .showMenu {
    display: block;
    padding-top: 150px;
  }
  .menu.showMenu .logo {
    display: none;
  }
}

.vertical-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  text-align: right;
}

.vertical-list img {
  margin: 1.5625rem 0 3.125rem;
  display: block;
  overflow: clip;
  cursor: pointer;
}

.nav {
  font-family: "BoosterNextFY";
  font-size: 16px;
  display: block;
  padding: 0.7rem 1rem;
  text-align: right;
  text-decoration: none;
  color: var(--twn-textColor);
  font-size: 1.1875rem;
  text-transform: uppercase;
  transition: transform 0.25s;
  transform-origin: right center;
  cursor: pointer;
  width: 100%;
}

.nav:hover {
  transform: translateX(5px);
  color: #03875c;
  transform: scale(1.05);
}

.nav.active {
  color: #03875c;
  transform: scale(1.05);
}
