<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TWN - proovitöö</title>
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
  </head>

  <body>
    <div class="header"></div>

    <div class="menu">
      <ul class="vertical-list">
        <img
          src="assets/images/logo.svg"
          alt="logo"
          class="logo"
          routerlink="/"
          tabindex="0"
          aria-label="TWN logo"
          routerLink="/"
        />
        <a class="nav" routerLink="article" routerLinkActive="active"
          >Artikkel</a
        >
        <a class="nav" routerLink="table" routerLinkActive="active">Tabel</a>
        <a class="nav" routerLink="game" routerLinkActive="active"
          >Game Of Life</a
        >
      </ul>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
