@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --twn-font: BoosterNextFY;
  --twn-textFont: "Open Sans";
  --twn-rootFontSize: 16px;
  --twn-highlightColor: #14cc76;
  --twn-textColor: #3a3d57;
  --twn-alternateTextColor: #fff;
  --twn-secondaryColor: #ff57a2;
  --twn-backgroundColor: #3a3d57;
  --twn-linkHoverColor: #03875c;
  --twn-blockColor: #efefef;
  --twn-menuWidth: 220px;
  --twnMaxWidth: 1000px;
}

* {
  box-sizing: border-box;
}

body,
html {
  background: var(--twn-backgroundColor);
  margin: 0;
  color: var(--twn-alternateTextColor);
  font-family: var(--twn-textFont);
}

body {
  font-size: var(--twn-rootFontSize);
}

.page {
  background-image: url(/assets/images/bg-deco-left.svg),
    url(/assets/images/bg-deco-right.svg);
  background-repeat: no-repeat;
  background-position: var(--twn-menuWidth) bottom, 100% 0;
  background-size: 150px, 250px;
  background-attachment: fixed;
  display: block;
  overflow: auto;
  padding: 5rem 2.5rem;
  margin-left: var(--twn-menuWidth);
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .page {
    margin-left: 0px;
    background-position: 0 bottom, 100% 0;
  }
}

.inline,
.page {
  position: relative;
}

@font-face {
  font-family: "BoosterNextFY";
  src: url("assets/fonts/BoosterNextFY-Medium.woff2") format("woff2");
}

.inline {
  display: flex;
  /* height: 100%; */
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--twn-font);
  text-align: center;
  flex-direction: column;
  max-width: 1000px;
  /* max-height: 100%; */
  margin: 0 auto;
}

h1 {
  font-size: 2.8125rem;
  color: var(--twn-highlightColor);
  font-weight: 700;
  margin: 0;
  display: block;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--twn-font);
}

p {
  margin: 0;
  font-size: 2.4375rem;
  display: block;
  text-align: center;
}
